* {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: None;
  border-radius: 0;
}

$backcolor: rgba(20, 24, 30, 0.7);
//$backcolor: #1e1e2e;


window.Bar {
  background: $backcolor;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  padding: 2px 0;
  //border-bottom: 2px solid #555555;

  .Snowflake {
    padding: 0 0 0 2px;
  }

  .Clock {
    //color: #fab387;
    color: #d9d9d9;
    padding: 1px 5px;
    font-size: 14px;
  }

  .RightBox {
    .Options {
      font-size: 17px;
      padding: 0 10px 0 0;
    }
  }
}
