* {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: None;
  border-radius: 0;
  font-size: 15px;
}

$backcolor: rgba(20, 24, 30, 1);
//$foreground: rgba(50, 55, 65, 1);
$foreground: #212121;
$hover: #777777;

window.Bar {
  background: $backcolor;
  font-family: "JetBrainsMono Nerd Font";
  padding: 2px 0;
  //border-bottom: 2px solid #555555;

  .Snowflake {
    padding: 0 0 0 2px;
  }

  .Clock {
    //color: #fab387;
    color: #fab387;
    padding: 1px 5px 0px 5px;
    font-size: 14px;
    margin: 0 0 -1px 0;
  }

  .RightBox {
    border-radius: 15px;

    &:hover {
      background-color: $hover;
    }

    .Options {
      font-size: 17px;
      padding: 0 10px 0 0;
    }

    .Battery {
      color: #8EE29A;
      padding: 0 20px 0 0;

      &.Critical {
        color: #aa657b;
      }

      &.Warning {
        color: #f9e230;
      }

      .Percentage {
        font-size: 14px;
        margin: 0 0 -1px 0;
        padding: 0 5px 0 0;
      }

      .Icon {
        margin: 0 0 0 0;
      }
    }

    .Wifi {
      color: #A0CBFC;
      padding: 0 20px 0 0;
      margin: 0 0 3px 10px;
    }
    
    .Submenu {
      background-color: $backcolor;
      border-radius: 15px;
      margin: 28px 100px 0 0px;
      
      box {
         background-color: $foreground;
         border-radius: 15px;

         padding: 10px;

        .Profile {
          border-radius: 50%;
          padding: 0 10px 0 0;
        }

        .User {
          padding: 0 200px 0 0;
          color: rgba(255, 230, 150, 1);
        }

        .Powermenu {
          color: #aa657b;
          padding: 10px 10px;
          background-color: $backcolor;
          border-radius: 50%;

          &:hover {
            background-color: $hover;
          }

          .Icon {
            margin: 2px 0 0 2px;
          }
        }
        
        .Placeholder {
          padding: 0 9px 0 0;
        }
      }
    }
  }
}
